.train-image-section {
    position: absolute;
    top: 0;
    z-index: 2;
}

.gallery {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    align-items: center;
    justify-content: center;
}


.arrowBtn {
    position: fixed;
    bottom: 20px;
    right: 25px;
    z-index: 3;
    transform: rotate(180deg);
}